{extend name="common/base" /}
{block name="title"}iqsLink{/block}
{block name="seo"}
<meta name="description" content="iqsLink">
<meta name="keywords" content="iqsLink">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/page/support.css">
<style>
    .layui-layer-setwin {
        top: 0!important;
        right: 0!important;
    }
    .layui-layer-setwin .layui-layer-min {
        display: none!important;
    }
    .layui-layer-setwin .layui-layer-max {
        display: none!important;
    }
    .layui-layer-setwin .layui-layer-close1 {
        top: -12px!important;
        right: -12px!important;
        width: 30px!important;
        height: 30px!important;
        background: #4A4A4A!important;
        border-radius: 50%!important;
    }
    .layui-layer-setwin .layui-layer-close1:after {
        content: 'X';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
</style>
{/block}

{block name="body"}
<div class="common-width">
    <div class="g-aside">
        {include file='common/aside'}
    </div>
    <div class="g-main">
        <div class="tips">
            <p>Our WINSTARTS product drivers are updated on a monthly basis to ensure that the drivers you download
                from our official website are the latest drivers.</p>
            <p><b>Attention of Thunderbolt™ 3 product users: </b> Because Thunderbolt™ 3's product is aimed at
                different computer model, their drive is different; And we cannot know the computer brand you use,
                so the driver of Thunderbolt™ 3 products need you to go to your computer corresponding brand
                official website to download the driver of Thunderbolt™ 3. We are deeply sorry for the inconvenience
                brought to you. Here we have sorted out some of the major computer brands corresponding official
                website download channels <a
                        href="//files.win-star.com/fw_dr/Thunderbolt3_Driver_description.zip"
                        title="">Download</a>, I hope it will be helpful to you. The current lightning drive
                provided on our WINSTARS official website is only for the lightning port.</p>
            <p>If you cannot find your product driver on WINSTARS's official website, please contact us: <a
                    href="mailto:tech@win-star.com">tech@win-star.com</a>.</p>
        </div>
        {notempty name="category"}
        <div class="filter-box">
            {volist name="category" id="vo"}
            <div class="type">
                <h3>{$vo.name}: </h3>
                <div class="type-category">
                    <ul>
                        {notempty name="vo.child"}
                        {volist name="vo.child" id="lo"}
                        <li><a href="{:url('front_drivers_category',['url_title'=>$lo.url_title])}">{$lo.name}</a></li>
                        {/volist}
                        {/notempty}
                    </ul>
                </div>
            </div>
            {/volist}
        </div>
        {/notempty}

        <div class="Driver-box">
            {notempty name="data"}
            {volist name="data" id="vo"}
            {notempty name="vo.drivers"}
            <div class="item">
                <h3>
                    <span>home</span>
                    <span>{$vo.parent_id|getParentName}</span>
                    <span>{$vo.name}</span>
                </h3>

                <div class="mode">
                    {volist name="vo.drivers" id="lo"}
                    <p>
                        <a href="javascript:;" data-url="{:url('front_drivers_details',['url_title'=>$lo.url_title])}"
                          data-title="WL-WN681A1-B" class="lay_driver">{$lo.title}</a>
                    </p>
                    {/volist}
                </div>
            </div>
            {/notempty}
            {/volist}
            {/notempty}
        </div>
    </div>
</div>
{/block}

{block name="javascript"}
<!--私有JS-->
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script>
    $(function () {
        $('.drivers').addClass('active');
        var windowWidth = $(window).width();
        var w = windowWidth >= 768 ? '640px' : '96%',
            h = windowWidth >= 768 ? '415px' : '300px';
        // 驱动 layer 弹层
        $('.lay_driver').click(function () {
            var url = $(this).attr('data-url');
            layer.open({
                type: 2,
                title: ['', 'background: #5190DF; height: 15px'],
                maxmin: true,
                shadeClose: true,
                area: [w, h],
                content: url
            })
        });
        // 分类筛选处理
        if (windowWidth >= 768) {
            var filterW = $('.filter-box .type h3').add('.filter-box .search h3');
            var max = 0;
            filterW.each(function () {
                max = max < $(this).outerWidth(true) ? $(this).outerWidth(true) : max;
            });
            $('.filter-box .type .type-category').add('.filter-box .search form').css({
                paddingLeft: max
            });
        }
    });
</script>
{/block}
