{extend name="base:base-add" /}
{block name="style"}
{/block}
{block name="title"}
<title>编辑下载文件地址</title>

<style>
    .Hui-admin-page-container, .panel, .panel-body {
        height: 100%;
    }
    .panel-header {
        text-align: center;
    }
    .panel-body {
        display: flex;
        border: 1px solid #eaeaea;
    }
    /* 侧边栏 */
    .panel-body-aside {
        float: left;
        width: 20%;
        padding-right: 20px;
    }

    .Huifold .item{ position:relative}
    .Huifold .item:nth-of-type(1) .info {display: block}
    .Huifold .item h4{margin:0;font-weight:bold;position:relative;border-top: 1px solid #fff;font-size:15px;line-height:22px;padding:7px 10px;background-color:#eee;cursor:pointer;padding-right:30px}
    .Huifold .item h4 b{position:absolute;display: block; cursor:pointer;right:10px;top:7px;width:16px;height:16px; text-align:center; color:#666}
    .Huifold .item .info{display:none;padding:10px}

    /* 主体容器 */
    .panel-body-main {
        float: left;
        width: 80%;
        padding: 0 20px;
        border-left: 1px solid #eaeaea;

    }
    /* 主体内容布局 */
    .main-box .main-item {
        float: left;
        width: 125px;
        text-align: center;
        border: 1px solid transparent;
        margin: 5px;
        padding: 5px;
        cursor: pointer;
        font-size: 12px;
        color: #545454;
    }
    .main-box .main-item:hover,
    .main-box .active{
        border: 1px solid #19968a;
    }
    .main-box .main-item .img-box {
        position: relative;
        width: 125px;
        height: 120px;
    }
    .main-box .main-item img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100px;
        max-height: 120px;
    }
    .main-box .main-item p {
        width: 100%;
        margin: 5px 0 0;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    /* 分页 */
    .panel-body-main .page {
        margin-top: 20px;
    }
    .panel-body-main .page ul:before,
    .panel-body-main .page ul:after {
        content: "";
        display: table;
        zoom: 1;
    }
    .panel-body-main .page ul:after {
        clear: both;
    }
    .panel-body-main .page li {
        float: left;
    }
    .panel-body-main .page li.disabled{
        cursor: not-allowed;
    }
    .panel-body-main .page li.disabled span {
        color: #777;
        border-color: #ddd!important;
    }
    .panel-body-main .page li.active {
        cursor: default;
        background: #00b7ee;
    }
    .panel-body-main .page li.active span {
        color: #fff;
    }
    .panel-body-main .page li a {
        color: #00b7ee;
    }
    .panel-body-main .page li a:hover {
        background: #eaeaea;
        text-decoration: none;
    }
    .panel-body-main .page li a,
    .panel-body-main .page li span {
        display: block;
        padding: 6px 12px;
        border: 1px solid #00b7ee;
        border-right: 1px solid transparent;
    }
    .panel-body-main .page li:nth-last-of-type(1) a,
    .panel-body-main .page li:nth-last-of-type(1) span {
        border-right: 1px solid #00b7ee;
    }
</style>

{/block}
{block name="form"}
<div class="panel">
    <div class="panel-header">
        <div style="float: left">
            <a href="javascript:;" onclick="min_layer('添加分类','{:url(\'attachment_category\')}',window.parent)" class="btn btn-primary" >创建分类</a>
        </div>
        <div>
            <button class="btn btn-success" disabled>用用</button>
            <button class="btn btn-danger" disabled>删除</button>
            <!--<form class="form form-horizontal" id="form-article-add">

            </form>-->
            <a href="javascript:void() ;" class="btn btn-primary" onclick="mu_layer('上传文件','{:url(\'attachment_upload\')}',window.parent)">上传</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-body-aside">
            <ul id="Huifold1" class="Huifold first-menu">
                {notempty name="tree"}
                {volist name="tree" id="vo"}
                <li class="item first-item">
                    <h4 href="#">{$vo.name} <b>+</b></h4>
                    <ul class="info second-menu">
                        {notempty name="vo.child"}
                        {volist name="vo.child" id="lo"}
                        <li class="second-item"><a href="{:url('attachment_list',['parent_id'=>$lo.id])}">{$lo.name}</a></li>
                        {/volist}
                        {/notempty}
                    </ul>
                </li>
                {/volist}
                {/notempty}
            </ul>
            <ul id="Huifold2" class="Huifold first-menu">
                <li><a href="{:url('attachment_list')}">所有</a></li>
            </ul>
        </div>
        <div class="panel-body-main">
            <div class="main-box clearfix">
                {notempty name="$data"}
                {volist name="data" id="vo"}
                <div class="main-item">
                    <div class="img-box">
                        {switch name="vo.ext"}
                        {case zip|rar|7z|bin}
                        <img src="//dev.iqs.link/icon/zip.png" alt="">
                        {/case}
                        {case mp4}
                        <img src="//dev.iqs.link/icon/video.png" alt="">
                        {/case}
                        {default /}
                        <img src="//dev.iqs.link/icon/files.png" alt="">
                        {/switch}
                    </div>
                    <p title="{$vo.name}">{$vo.name}</p>
                </div>
                {/volist}
                {/notempty}
            </div>

            <div class="page">
                {notempty name="page"}
                {$page|raw}
                {/notempty}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript" src="__ADMIN__/business/js/main.js"></script>
<script type="text/javascript" src="__LIB__/webuploader/0.1.5/webuploader.js"></script>
<script>

    /*管理员-编辑*/
    function edit(title, url) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            area: ['800px', '600px']
        });
    }

    function del(obj, id) {
        layer.confirm('确认要删除吗？,同时aws上的文件也会被删除，不用担心垃圾过多！', function (index) {
            var postData = {};
            postData['id'] = id;
            var url = '/wavlink/files/download/del/' + id + '.html';
            //ajax 请求删除
            $.ajax({
                url: url,
                type: "post",
                data: postData,
                "success": function (result) {
                    console.log(result);
                    var msgData = JSON.parse(result);
                    if (msgData.status === true) {
                        $(obj).parents("tr").remove();
                        layer.msg(msgData.message, {icon: 1, time: 1000});
                    } else {
                        layer.msg(msgData.message, {icon: 5, time: 2000})
                    }
                }
            }, JSON);
        });
    }

    //h-ui侧边栏插件js
    jQuery.Huifold = function(obj,obj_c,speed,obj_type,Event){
        if(obj_type == 2){
            $(obj+":first").find("b").html("-");
            $(obj_c+":first").show()}
        $(obj).bind(Event,function(){
            if($(this).next().is(":visible")){
                if(obj_type == 2){
                    return false}
                else{
                    $(this).next().slideUp(speed).end().removeClass("selected");
                    $(this).find("b").html("+")}
            }
            else{
                if(obj_type == 3){
                    $(this).next().slideDown(speed).end().addClass("selected");
                    $(this).find("b").html("-")}else{
                    $(obj_c).slideUp(speed);
                    $(obj).removeClass("selected");
                    $(obj).find("b").html("+");
                    $(this).next().slideDown(speed).end().addClass("selected");
                    $(this).find("b").html("-")}
            }
        })}
    $(function(){
        $.Huifold("#Huifold1 .item h4","#Huifold1 .item .info","fast",3,"click"); /*5个参数顺序不可打乱，分别是：响应区,隐藏显示的内容,速度,类型,事件*/
    });
</script>
{/block}