<!--_menu 作为公共模版分离出去-->
<aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="http://www.wavlink.com">
            <i class="va-m iconpic global-logo"></i>
            <span class="va-m">Wavlink web管理软件</span>
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">
        <dl id="menu-category" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 驱动管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li id="menus-category"><a href="/wavlink/category/list.html" title="驱动分类">驱动分类</a></li>
                    <li id="menu-drivers"><a href="/wavlink/driver/list.html" title="驱动列表">驱动列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-files" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;
            </i>说明书管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li id="menus-manuals"><a href="/wavlink/category/list.html" title="说明书分类">说明书分类</a></li>
                    <li id="menu-manual"><a href="/wavlink/driver/list.html" title="说明书列表">说明书列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="Hui-admin-aside-mask"></div>
<!--/_menu 作为公共模版分离出去-->