<footer class="g-foot">
    <div class="foot-box">
        <div class="common-width">
            <dl>
                <dt>Contact US</dt>
                <dd>FAX Number: <span>+86 (755) 83022207</span></dd>
                <dd>Sales Email: <span><a href="mailto:winstars@win-star.com">winstars@win-star.com</a></span></dd>
                <dd>Tech Support Email: <span><a href="mailto:tech@win-star.com">tech@win-star.com</a></span></dd>
            </dl>
            <dl>
                <dt>Support</dt>
                <dd><a href="{:url('front_drivers')}">Driver</a></dd>
                <dd><a href="{:url('front_firmware')}">Firmware</a></dd>
                <dd><a href="{:url('front_manuals')}">Manual</a></dd>
            </dl>
        </div>
    </div>
    <div class="copy-right">
        <div class="common-width">
            Copyright ©1993 -
            <script>var nowYear = new Date().getFullYear();
            document.write(nowYear) </script>
            Wavlink.com All Rights Reserved.
        </div>
    </div>
</footer>
