{extend name="common/base" /}
{block name="title"}iqsLink{/block}
{block name="seo"}
<meta name="description" content="iqsLink">
<meta name="keywords" content="iqsLink">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/page/support.css">
<style>
    .layui-layer-setwin {
        top: 0!important;
        right: 0!important;
    }
    .layui-layer-setwin .layui-layer-min {
        display: none!important;
    }
    .layui-layer-setwin .layui-layer-max {
        display: none!important;
    }
    .layui-layer-setwin .layui-layer-close1 {
        top: -12px!important;
        right: -12px!important;
        width: 30px!important;
        height: 30px!important;
        background: #4A4A4A!important;
        border-radius: 50%!important;
    }
    .layui-layer-setwin .layui-layer-close1:after {
        content: 'X';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
</style>
{/block}

{block name="body"}
<div class="common-width">
    <div class="g-aside">
        {include file='common/aside'}
    </div>
    <div class="g-main">
        <div class="no-data" style="background: #fff; min-height: 500px; padding: 40px; font-size: 20px">
            NO DATA
        </div>
    </div>
</div>
{/block}

{block name="javascript"}
<!--私有JS-->
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script>
    $(function () {
        $('.firmware').addClass('active');
        var windowWidth = $(window).width();
        var w = windowWidth >= 768 ? '640px' : '96%',
            h = windowWidth >= 768 ? '415px' : '300px';
        // 驱动 layer 弹层
        $('.lay_driver').click(function () {
            var url = $(this).attr('data-url');
            layer.open({
                type: 2,
                title: ['', 'background: #5190DF; height: 15px'],
                maxmin: true,
                shadeClose: true,
                area: [w, h],
                content: url
            })
        });
        // 分类筛选处理
        if (windowWidth >= 768) {
            var filterW = $('.filter-box .type h3').add('.filter-box .search h3');
            var max = 0;
            filterW.each(function () {
                max = max < $(this).outerWidth(true) ? $(this).outerWidth(true) : max;
            });
            $('.filter-box .type .type-category').add('.filter-box .search form').css({
                paddingLeft: max
            });
        }
    });
</script>
{/block}
